# Binaries
simplefs
*.exe
*.exe~
*.dll
*.so
*.dylib

# Devcontainer CLI
.dc_simplefs/

# Node & Package Managers
node_modules/

# Storage / Uploads
uploads/*
!uploads/.gitkeep

# IDE & OS
.DS_Store
.idea/
.vscode/
